@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background: repeating-linear-gradient(-45deg, #333, #333 20px, #222 20px, #222 40px);
    color:#fff;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3) 20px, rgba(255, 255, 255, 0.2) 20px, rgba(255, 255, 255, 0.2) 40px);
    box-shadow: 0 2px 3px #000;
}

#menu {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
    /* color: greenyellow; */
    text-transform: uppercase;
}

#menu div {
    width: 200px;
    text-align: center;
    margin: 20px;
    padding: 10px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    box-shadow: inset 1px 1px 2px #000;
    transition-duration: .3s;
}
#menu div:hover {
    background: rgba(0 , 0, 0, 0.5);
}

#search {
    color: aqua;
}

#favorites {
    color: fuchsia;
}

#unviewed {
    color: greenyellow;
}

#viewed {
    color: lightsalmon;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 40px;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    color: aqua;
    font-size: 60px;
    text-shadow: 2px 2px 3px #000;
}

#filter, #sorter {
    height: 500px;
    margin: 40px;
    padding: 40px 40px 50px 40px;
    color: aqua;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    box-shadow: 2px 2px 3px #000;
}

#filter span, #sorter span {
    margin: 10px;
}

h2 {
    margin: 10px 0 50px 0;
    font-weight: 300;
    text-transform: uppercase;
}

h3 {
    margin: 40px 0 10px 0;
    font-weight: 300;
}

#typecontent {
    margin: 30px 0 10px 0;
}

#sorter div div {
    line-height: 150%;
}